/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
h1 {
  font-size: 31rem;
}
header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 40px 70px;
  position: fixed;
}
header .logo {
  font-family: "Cormorant Garamond", serif;
  font-size: 2.4rem;
  cursor: pointer;
  color: #97a1ac;
  transition: 0.3s;
}
header .logo:hover {
  color: #686963;
}
header .burger {
  width: 45px;
  cursor: pointer;
  display: flex;
  align-items: flex-end;
  flex-direction: column;
}
header .burger .line {
  width: 100%;
  height: 2px;
  background: #97a1ac;
  margin-bottom: 10px;
  transition: all 0.3s;
}
header .burger .line:nth-of-type(2) {
  width: 85%;
}
header .burger .line:nth-of-type(3) {
  width: 70%;
}
header .burger .line:hover {
  width: 100%;
}
.view {
  padding-top: 15vh;
  min-height: 100vh;
}
.featured-container {
  position: fixed;
  top: 35vh;
  left: 40px;
  color: #b7bcca;
}
.featured-container .featured {
  font-size: 2.5rem;
  margin-bottom: 30px;
  cursor: pointer;
  transition: all 0.3s;
}
.featured-container .featured span {
  font-size: 1.2em;
}
.featured-container .featured:hover {
  margin-left: 3px;
  color: #97a1ac;
}
.featured-container .featured-active {
  color: #686963;
  font-size: 3.5rem;
  margin-left: 5px;
}
.featured-container .featured-active:after {
  content: "";
  display: block;
  height: 1px;
  width: 90%;
  background: #686963;
  margin-top: 13px;
}
.social-icons {
  position: fixed;
  top: 70vh;
  right: 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 160px;
}
.social-icons .fab {
  cursor: pointer;
  color: #97a1ac;
  font-size: 1.8rem;
  transition: all 0.3s;
}
.social-icons .fab:hover {
  color: #686963;
}
#home {
  opacity: 0;
  z-index: 1;
}
#home .welcome {
  position: absolute;
  left: 16%;
  width: 20%;
}
#home .welcome h4 {
  font-size: 1.8rem;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  margin-bottom: 20px;
  font-family: "Montserrat", sans-serif;
}
#home .welcome p {
  font-size: 1.6rem;
  font-family: "Hind Madurai", sans-serif;
  line-height: 1.5;
}
#home .welcome p::after {
  content: "";
  display: block;
  height: 2px;
  width: 40%;
  margin-top: 50px;
  background-color: #97a1ac;
}
#home h1 {
  font-family: "Cormorant Garamond", serif;
  color: #686963;
  position: absolute;
  font-size: 12vw;
  top: 52vh;
  transform: translateX(29%);
  line-height: 0.8;
  z-index: 3;
}
#home .home-img-container {
  height: 500px;
  width: 750px;
  position: absolute;
  right: 12.5%;
  z-index: 2;
  overflow: hidden;
}
@media (min-width: 1500px) {
  #home .home-img-container {
    height: 400px;
    width: 650px;
  }
}
#home .home-img-container .slant-border-left {
  transform-origin: 0px 0px 0px;
  transform: skewX(50deg);
  background: white;
  position: absolute;
  height: 50%;
  width: 150px;
  bottom: -40px;
  left: -220px;
  z-index: 2;
}
#home .home-img-container .slant-border-right {
  transform-origin: 0px 0px 0px;
  transform: skewX(50deg);
  background: white;
  position: absolute;
  height: 50%;
  width: 150px;
  top: -50px;
  right: 50px;
  z-index: 2;
}
#home .home-img-container .home-img {
  background-image: url("../img/home/home-jumbotron.png");
  background-size: cover;
  height: 100%;
  width: 100%;
  transition: all 0.8s;
}
#home .home-img-container .home-img:hover {
  transform: scale(1.03);
}
#home .home-img-container .home-img:focus {
  transform: scale(1.03);
}
#home .home-img-container::after {
  content: "";
  height: 50%;
  width: 2px;
  display: block;
  background: #97a1ac;
}
#contact {
  opacity: 1;
}
#contact .card-container {
  position: absolute;
  left: 16%;
  display: flex;
  width: 700px;
  height: 500px;
}
#contact .card-container .card {
  height: 450px;
  width: 40%;
  cursor: pointer;
  transition: 0.2s;
  transform: scale(0.95);
}
#contact .card-container .card:nth-last-of-type(1) {
  background-image: url("../img/contact/gus.jpg");
  background-position: center;
  background-size: cover;
  position: absolute;
  top: 120px;
  z-index: 4;
}
#contact .card-container .card:nth-last-of-type(2) {
  background-image: url("../img/contact/walt2.jpg");
  background-position: center;
  background-size: cover;
  position: absolute;
  top: 70px;
  left: 80px;
  z-index: 3;
}
#contact .card-container .card:nth-last-of-type(3) {
  background-image: url("../img/contact/jesse1.jpg");
  background-position: center;
  background-size: cover;
  position: absolute;
  top: 20px;
  left: 170px;
  z-index: 2;
}
#contact .card-container .card:nth-last-of-type(4) {
  background-image: url("../img/contact/saul.jpg");
  background-position: center;
  background-size: cover;
  position: absolute;
  top: -20px;
  left: 240px;
  z-index: 1;
}
#contact .card-container .card:hover {
  transform: scaleX(1);
  z-index: 5;
}
