// Colors
@primary-color: #97a1ac;
@lt-grey: #fafafa;
@md-grey: #686963;
@tan: #ddd8b8;
// @secondary-color: #e3f2fd;
// @secondary-color: #C9E4CA;
@body-text: #333;

// Font Stack
@heading: "Work Sans", sans-serif;
@sub-heading: "Cormorant Garamond", serif;
@body: "Kanit", sans-serif;
