// Colors
@steel: #97a1ac;
@sand: #ddd8b8;
@lt-grey: #fafafa;
@md-grey: #686963;

@primary-color: @steel;
@secondary-color: @sand;
@body-text: #333;

// Font Stack
@heading: "Montserrat", sans-serif;
@sub-heading: "Cormorant Garamond", serif;
@body: "Hind Madurai", sans-serif;

// Backup colors
// #DDD92A;
// #e3f2fd;
// #C9E4CA;
// #2D2A32;
// #CACC90;
// #75704E;
